<div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
    <div class="col">
        <div class="card shadow-sm position-relative">
            <div class="card-img-top" style="background-image:url(https://i.pinimg.com/564x/f6/ed/a4/f6eda45a8923379c17e305d1d7b32482.jpg)" ></div>
            <div class="card-body">
                <h5 class="card-title">不具合管理表</h5>
                <p class="card-text">不具合管理表のサンプルです</p>
                <a href="/b-sheet" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card shadow-sm position-relative">
            <div class="card-img-top" style="background-image:url(https://i.pinimg.com/564x/b1/46/84/b146841ae8431754f04f60946f7d0e7e.jpg)" ></div>
            <div class="card-body">
                <h5 class="card-title">GitHUB</h5>
                <p class="card-text">更多模板工程免费下载</p>
                <a href="https://github.com/org-c2/project-J" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm position-relative">
            <div class="card-img-top" style="background-image:url(https://i.pinimg.com/564x/bb/34/3d/bb343deee917020e8350969f1aae1aa6.jpg)" ></div>
            <div class="card-body">
                <h5 class="card-title">猫島万事</h5>
                <p class="card-text">下载APP获得更多信息</p>
                <a href="https://apps.apple.com/jp/app/%E6%B1%9F%E6%88%B8%E5%B0%8F%E5%83%A7/id1568255883?ign-itscg=30200&ign-itsct=apps_box_link" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>